.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 0 !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #e5e1d5;
}
body {
  font-family: Golos Text;
}
.display-1 {
  font-family: 'Vast Shadow', serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.875rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #446981 !important;
}
.bg-success {
  background-color: #20ac6b !important;
}
.bg-info {
  background-color: #0aa3c2 !important;
}
.bg-warning {
  background-color: #cc9900 !important;
}
.bg-danger {
  background-color: #ae1e2c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #446981 !important;
  border-color: #446981 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #5684a2 !important;
  border-color: #5684a2 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #5684a2 !important;
  border-color: #5684a2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-info,
.btn-info:active {
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
}
.btn-success,
.btn-success:active {
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #446981;
  color: #446981;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #263b48 !important;
  background-color: transparent !important;
  border-color: #263b48 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #446981 !important;
  border-color: #446981 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0aa3c2;
  color: #0aa3c2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #065e70 !important;
  background-color: transparent !important;
  border-color: #065e70 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #20ac6b;
  color: #20ac6b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12633e !important;
  background-color: transparent !important;
  border-color: #12633e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #755800 !important;
  background-color: transparent !important;
  border-color: #755800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ae1e2c;
  color: #ae1e2c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #641119 !important;
  background-color: transparent !important;
  border-color: #641119 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #446981 !important;
}
.text-secondary {
  color: #320707 !important;
}
.text-success {
  color: #20ac6b !important;
}
.text-info {
  color: #0aa3c2 !important;
}
.text-warning {
  color: #cc9900 !important;
}
.text-danger {
  color: #ae1e2c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #21333e !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #105636 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #055161 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #664d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #570f16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #446981;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0aa3c2;
}
.alert-warning {
  background-color: #cc9900;
}
.alert-danger {
  background-color: #ae1e2c;
}
.mbr-gallery-filter li.active .btn {
  background-color: #446981;
  border-color: #446981;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #446981;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #86a8bf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #68e3aa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #55dbf6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffe599;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e56773;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #446981 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #446981;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #446981;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #446981;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #446981;
  border-bottom-color: #446981;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #446981 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #320707 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23446981' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uUspq8vxx0 {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-uUspq8vxx0 .dropdown-item:before {
  font-family: RDIcons !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-uUspq8vxx0 .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-uUspq8vxx0 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uUspq8vxx0 .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-uUspq8vxx0 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uUspq8vxx0 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uUspq8vxx0 .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
  margin-right: 0;
}
.cid-uUspq8vxx0 .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-uUspq8vxx0 .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
  border-radius: 4px !important;
}
.cid-uUspq8vxx0 .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-uUspq8vxx0 .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-uUspq8vxx0 .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-uUspq8vxx0 .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
  border-radius: 4px !important;
}
.cid-uUspq8vxx0 .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-uUspq8vxx0 .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-uUspq8vxx0 .nav-link {
  width: fit-content;
  position: relative;
}
.cid-uUspq8vxx0 .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-uUspq8vxx0 .navbar-logo {
    padding-left: 0;
  }
}
.cid-uUspq8vxx0 .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uUspq8vxx0 .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-uUspq8vxx0 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-uUspq8vxx0 .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(142, 152, 170, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #8e98aa;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  border-radius: 4px !important;
}
@media (max-width: 992px) {
  .cid-uUspq8vxx0 .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uUspq8vxx0 .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-uUspq8vxx0 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uUspq8vxx0 .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #8e98aa;
  background: rgba(142, 152, 170, 0.8) !important;
  border-radius: 4px !important;
}
.cid-uUspq8vxx0 .nav-item:focus,
.cid-uUspq8vxx0 .nav-link:focus {
  outline: none;
}
.cid-uUspq8vxx0 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uUspq8vxx0 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uUspq8vxx0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uUspq8vxx0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uUspq8vxx0 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uUspq8vxx0 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uUspq8vxx0 .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-uUspq8vxx0 .navbar.opened {
  transition: all 0.3s;
}
.cid-uUspq8vxx0 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uUspq8vxx0 .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-uUspq8vxx0 .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-uUspq8vxx0 .navbar.collapsed {
  justify-content: center;
}
.cid-uUspq8vxx0 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uUspq8vxx0 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uUspq8vxx0 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.2rem);
  }
}
.cid-uUspq8vxx0 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uUspq8vxx0 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uUspq8vxx0 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uUspq8vxx0 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uUspq8vxx0 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uUspq8vxx0 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uUspq8vxx0 .navbar {
    min-height: 72px;
  }
  .cid-uUspq8vxx0 .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-uUspq8vxx0 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uUspq8vxx0 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uUspq8vxx0 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uUspq8vxx0 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uUspq8vxx0 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uUspq8vxx0 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uUspq8vxx0 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-uUspq8vxx0 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uUspq8vxx0 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uUspq8vxx0 .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-uUspq8vxx0 .dropdown-item.active,
.cid-uUspq8vxx0 .dropdown-item:active {
  background-color: transparent;
}
.cid-uUspq8vxx0 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uUspq8vxx0 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uUspq8vxx0 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uUspq8vxx0 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #8e98aa;
}
.cid-uUspq8vxx0 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-uUspq8vxx0 .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-uUspq8vxx0 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uUspq8vxx0 .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-uUspq8vxx0 .navbar-buttons {
    text-align: left;
  }
}
.cid-uUspq8vxx0 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uUspq8vxx0 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uUspq8vxx0 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uUspq8vxx0 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uUspq8vxx0 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uUspq8vxx0 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uUspq8vxx0 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uUspq8vxx0 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uUspq8vxx0 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uUspq8vxx0 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uUspq8vxx0 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-uUspq8vxx0 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uUspq8vxx0 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uUspq8vxx0 .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uUspq8vxx0 .navbar {
    height: 70px;
  }
  .cid-uUspq8vxx0 .navbar.opened {
    height: auto;
  }
  .cid-uUspq8vxx0 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-uUspq8vxx0 .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-uUspq8vxx0 .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-uUspq8vxx0 .navbar-brand {
    margin-right: auto;
  }
  .cid-uUspq8vxx0 .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #8e98aa;
    opacity: 1;
    border-color: rgba(142, 152, 170, 0.8) !important;
    background: rgba(142, 152, 170, 0.8) !important;
    backdrop-filter: blur(8px);
    border-radius: 4px !important;
  }
  .cid-uUspq8vxx0 .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-uUspq8vxx0 .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-uUspq8vxx0 .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uUspq8vxx0 .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-uUspq8vxx0 .navbar-collapse {
    padding: 1rem;
  }
}
.cid-uWb4CDRMLp {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #edefeb;
}
.cid-uWb4CDRMLp .photo-split .element-outer {
  display: none;
}
.cid-uWb4CDRMLp .photo-split .element-outer2 {
  display: none;
}
.cid-uWb4CDRMLp .photo-split .element-inner {
  display: none;
}
.cid-uWb4CDRMLp .icon-transition span {
  padding: 0.1rem 0.9rem;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  width: 3em;
  background: #ffffff none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-uWb4CDRMLp .content-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.cid-uWb4CDRMLp .photo-split {
  position: relative;
}
.cid-uWb4CDRMLp .photo-split .image-wrap {
  text-align: right;
}
.cid-uWb4CDRMLp .photo-split .image-wrap img {
  max-width: 100%;
  max-height: 800px;
  z-index: 9;
  position: relative;
}
.cid-uWb4CDRMLp .photo-split .element-outer {
  border-radius: 100%;
  padding: 60px;
  border: 3px dashed #e3e3e3;
  position: absolute;
  z-index: 7;
  left: -45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-uWb4CDRMLp .photo-split .element-outer2 {
  border-radius: 100%;
  padding: 100px;
  border: 3px dashed #e3e3e3;
  position: absolute;
  z-index: 7;
  left: -80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-uWb4CDRMLp .photo-split .element-inner {
  position: absolute;
  z-index: 10;
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-uWb4CDRMLp .photo-split .element-inner .widget-icon {
  display: inline-block;
  border-radius: 100%;
  padding: 31px;
  background-color: #ffffff;
  font-size: 2.45rem;
  color: #4f87fb;
  margin-right: 15px;
  z-index: 10;
}
.cid-uWb4CDRMLp .wrap-block {
  padding: 3rem 3rem;
}
.cid-uWb4CDRMLp .wrap-block .contents {
  margin-bottom: 40px;
  padding-right: 50px;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-subtitle {
  color: #4f87fb;
  margin-bottom: 10px;
  font-weight: 800;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-subtitle.display-4 {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 2px;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-section-title {
  margin-bottom: 10px;
  color: #130947;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-section-text {
  line-height: 1.5;
  margin-top: 10px;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-section-text.display-7 {
  font-size: 20px;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-section-text.display-4 {
  font-size: 16px;
}
.cid-uWb4CDRMLp .wrap-block .contents h3 {
  color: #130947;
  letter-spacing: -0.5px;
}
.cid-uWb4CDRMLp .wrap-block .contents h4 {
  color: #6d7a8c;
}
.cid-uWb4CDRMLp .info-widget {
  padding-top: 0.5rem;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.cid-uWb4CDRMLp .info-widget .widget-icon {
  display: inline-block;
  border-radius: 100%;
  padding: 18px;
  background-color: #ffffff;
  font-size: 2.45rem;
  color: #ffffff;
  margin-right: 15px;
}
.cid-uWb4CDRMLp .info-widget .signature {
  height: 75px;
  display: inline-block;
  margin-right: 15px;
  object-fit: contain;
  width: auto;
}
.cid-uWb4CDRMLp .info-widget .widget-content {
  display: flex;
  vertical-align: baseline;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.cid-uWb4CDRMLp .info-widget .widget-content .widget-title {
  margin-bottom: 7px;
  color: #130947;
}
.cid-uWb4CDRMLp .info-widget .widget-content .widget-text {
  margin-bottom: 0;
  color: #7e7e7e;
}
@media (max-width: 991px) {
  .cid-uWb4CDRMLp .photo-split {
    padding: 3rem 3rem;
  }
  .cid-uWb4CDRMLp .photo-split .element-outer,
  .cid-uWb4CDRMLp .photo-split .element-outer2 {
    display: none;
  }
  .cid-uWb4CDRMLp .photo-split .element-inner {
    left: 0;
  }
}
@media (max-width: 767px) {
  .cid-uWb4CDRMLp .mbr-section-title,
  .cid-uWb4CDRMLp .mbr-section-subtitle,
  .cid-uWb4CDRMLp .mbr-text {
    text-align: left !important;
  }
  .cid-uWb4CDRMLp .social-list {
    text-align: left !important;
  }
}
.cid-uWb4CDRMLp .boldSubtitle {
  margin-top: 40px !important;
}
@media (max-width: 500px) {
  .cid-uWb4CDRMLp .wrap-block {
    padding: 3rem 1rem;
  }
}
.cid-uWb4CDRMLp .mbr-fallback-image.disabled {
  display: none;
}
.cid-uWb4CDRMLp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uWb4CDRMLp .wrap-block .contents h4,
.cid-uWb4CDRMLp .menu-content-right {
  color: #232323;
  text-align: center;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-section-title,
.cid-uWb4CDRMLp .menu-content-right DIV {
  text-align: center;
}
.cid-uWb4CDRMLp .wrap-block .contents .mbr-section-title,
.cid-uWb4CDRMLp .menu-content-right {
  color: #000000;
  text-align: center;
}
.cid-uUsJ7Jo9BM {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #e5e1d5;
}
.cid-uUsJ7Jo9BM img,
.cid-uUsJ7Jo9BM .item-img {
  width: 100%;
}
.cid-uUsJ7Jo9BM .item:focus,
.cid-uUsJ7Jo9BM span:focus {
  outline: none;
}
.cid-uUsJ7Jo9BM .item-wrapper {
  position: relative;
}
.cid-uUsJ7Jo9BM .slide-content {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-uUsJ7Jo9BM .slide-content .item-content {
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uUsJ7Jo9BM .slide-content .item-content {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uUsJ7Jo9BM .slide-content .item-content {
    padding: 1.5rem;
  }
}
.cid-uUsJ7Jo9BM .mbr-section-btn {
  margin-top: auto !important;
}
.cid-uUsJ7Jo9BM .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-uUsJ7Jo9BM .mbr-text,
.cid-uUsJ7Jo9BM .mbr-section-btn {
  text-align: left;
}
.cid-uUsJ7Jo9BM .item-title {
  text-align: left;
}
.cid-uUsJ7Jo9BM .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-uUsJ7Jo9BM .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-uUsJ7Jo9BM .embla__slide {
    min-width: 85%;
    max-width: initial;
  }
}
.cid-uUsJ7Jo9BM .embla__button--next,
.cid-uUsJ7Jo9BM .embla__button--prev {
  display: flex;
}
.cid-uUsJ7Jo9BM .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-uUsJ7Jo9BM .embla__button {
    display: none;
  }
}
.cid-uUsJ7Jo9BM .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-uUsJ7Jo9BM .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-uUsJ7Jo9BM .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uUsJ7Jo9BM .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uUsJ7Jo9BM .embla__button {
    top: auto;
  }
}
.cid-uUsJ7Jo9BM .embla {
  position: relative;
  width: 100%;
}
.cid-uUsJ7Jo9BM .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-uUsJ7Jo9BM .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-uUsJ7Jo9BM .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-uUsJ7Jo9BM .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-uUsJ7Jo9BM .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-uUsJ7Jo9BM .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-uUsJ7Jo9BM .content-head {
  max-width: 800px;
}
.cid-uUspq8yc5y {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #c2c8be;
}
.cid-uUspq8yc5y .justify-content-center {
  align-items: center;
}
.cid-uUspq8yc5y .mbr-fallback-image.disabled {
  display: none;
}
.cid-uUspq8yc5y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uUspq8yc5y .item-wrapper {
  display: flex;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-uUspq8yc5y .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uUspq8yc5y .mbr-section-btn {
  padding-left: 1.5rem;
  text-align: right;
}
@media (max-width: 767px) {
  .cid-uUspq8yc5y .mbr-section-btn {
    text-align: center;
    padding-left: 0rem;
  }
}
.cid-uUspq8yc5y .row {
  align-items: center;
}
.cid-uUspq8yc5y .card-text {
  margin-bottom: 0px;
  text-align: left;
  color: #000000;
}
@media (max-width: 767px) {
  .cid-uUspq8yc5y .card-text {
    text-align: center;
  }
}
.cid-uUsOqyzYy1 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #edefeb;
}
.cid-uUsOqyzYy1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uUsOqyzYy1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uUsOqyzYy1 .row-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-uUsOqyzYy1 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uUsOqyzYy1 .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-uUsOqyzYy1 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uUsOqyzYy1 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uUsOqyzYy1 .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uUsOqyzYy1 .mbr-text,
.cid-uUsOqyzYy1 .mbr-section-btn {
  color: #000000;
}
.cid-uUsOqyzYy1 img {
  width: 100%;
  object-fit: cover;
  height: 30rem;
}
@media (max-width: 767px) {
  .cid-uUsOqyzYy1 img {
    height: 15rem;
  }
}
.cid-uUsOqyzYy1 .mbr-section-title DIV {
  text-align: center;
}
.cid-uUsZ7avBRM {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #e5e1d5;
}
.cid-uUsZ7avBRM .mbr-fallback-image.disabled {
  display: none;
}
.cid-uUsZ7avBRM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uUsZ7avBRM .mbr-description {
  text-align: left;
}
.cid-uUsZ7avBRM .item-wrapper {
  background: #c2c8be;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (max-width: 767px) {
  .cid-uUsZ7avBRM .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uUsZ7avBRM .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-uUsZ7avBRM .card-title,
.cid-uUsZ7avBRM .iconfont-wrapper {
  color: #000000;
}
.cid-uUsZ7avBRM .card-text {
  color: #000000;
}
.cid-uUsZ7avBRM .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uUsZ7avBRM .mbr-number {
  color: #9fe870;
}
.cid-uUsZ7avBRM .mbr-text,
.cid-uUsZ7avBRM .mbr-section-btn {
  text-align: center;
}
.cid-uUsZ7avBRM .card-text,
.cid-uUsZ7avBRM .item .mbr-section-btn {
  text-align: left;
}
.cid-uUtAGFmte3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #edefeb;
}
.cid-uUtAGFmte3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uUtAGFmte3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-uUtAGFmte3 .container-fluid {
    padding: 0;
  }
}
.cid-uUtAGFmte3 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-uUtAGFmte3 .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-uUtAGFmte3 .embla__button--next,
.cid-uUtAGFmte3 .embla__button--prev {
  display: flex;
}
.cid-uUtAGFmte3 .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-uUtAGFmte3 .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-uUtAGFmte3 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uUtAGFmte3 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-uUtAGFmte3 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uUtAGFmte3 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uUtAGFmte3 .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-uUtAGFmte3 .embla {
  position: relative;
  width: 100%;
}
.cid-uUtAGFmte3 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-uUtAGFmte3 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-uUtAGFmte3 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-uUtAGFmte3 .embla__slide a {
  cursor: grab;
}
.cid-uUtAGFmte3 .embla__slide a:active {
  cursor: grabbing;
}
.cid-uUtAGFmte3 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-uUtAGFmte3 .item-menu-overlay {
  border-radius: 2rem;
}
.cid-uUtAGFmte3 .mbr-section-title {
  color: #232323;
}
.cid-uUtAGFmte3 .mbr-section-subtitle {
  color: #232323;
}
.cid-uUtAGFmte3 .mbr-box {
  color: #ffffff;
}
.cid-uUtAGFmte3 .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-uUtAGFmte3 img,
.cid-uUtAGFmte3 .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uUtAGFmte3 .item-wrapper {
  position: relative;
}
.cid-uUtAGFmte3 .content-head {
  max-width: 800px;
}
.cid-uUtuP2ruoS {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #c2c8be;
}
.cid-uUtuP2ruoS .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-uUtuP2ruoS .social-row .soc-item {
  margin: 8px;
}
.cid-uUtuP2ruoS .social-row .soc-item a:hover .mbr-iconfont,
.cid-uUtuP2ruoS .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #e5e1d5;
}
.cid-uUtuP2ruoS .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #0c2c68;
  transition: all 0.3s ease-in-out;
}
.cid-uUtuP2ruoS .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uUtuP2ruoS .mbr-section-title {
  color: #ffffff;
}
.cid-uUtuP2ruoS .mbr-section-title,
.cid-uUtuP2ruoS .social-list {
  color: #000000;
}
.cid-uUspq8zbqi .main_wrapper {
  position: relative;
  height: 800px;
  width: 100%;
}
.cid-uUspq8zbqi .b_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 991px) {
  .cid-uUspq8zbqi .b_wrapper {
    position: relative;
    width: 100%;
    height: auto !important;
    flex-direction: column;
  }
}
.cid-uUspq8zbqi .row {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-uUspq8zbqi .container-fluid {
    padding: 0;
  }
}
.cid-uUspq8zbqi ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-uUspq8zbqi .item-wrapper {
  height: 100%;
  background-color: #c2c8be;
  pointer-events: fill;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uUspq8zbqi .item-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 991px) {
  .cid-uUspq8zbqi .item-wrapper {
    width: 100%;
    position: relative;
    padding: 2rem;
    border-radius: 0px !important;
  }
}
@media (max-width: 767px) {
  .cid-uUspq8zbqi .item-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-uUspq8zbqi .google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.cid-uUspq8zbqi .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
}
.cid-uUspq8zbqi .google-map [data-state-details] {
  color: #edefeb;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uUspq8zbqi .google-map[data-state] {
  background: #edefeb;
}
.cid-uUspq8zbqi .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 991px) {
  .cid-uUspq8zbqi .google-map {
    position: static;
  }
}
.cid-uUspq8zbqi .list,
.cid-uUspq8zbqi .item-wrap {
  text-align: left;
}
.cid-uUtX557wKX {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #e5e1d5;
}
.cid-uUtX557wKX .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uUtX557wKX form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uUtX557wKX form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uUtX557wKX form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uUtX557wKX .content-head {
  max-width: 800px;
}
.cid-uUspq8zMui {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #c2c8be;
  overflow: hidden;
}
.cid-uUspq8zMui .media-container-row .mbr-text {
  color: #000000;
  text-align: left;
}
