# -----------------------------------------
# Terraform
# -----------------------------------------
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
tfplan
crash.log
crash.*.log

# Optional override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variables
*.tfvars
*.tfvars.json

# -----------------------------------------
# macOS
# -----------------------------------------
.DS_Store

# -----------------------------------------
# IDE
# -----------------------------------------
.vscode/
.idea/